page-user-form {}

#phone-error-message{
    margin-top: 0.5em;
}

#phone-error-message > .item-inner{
    padding: 0px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}